@font-face {
  font-family: "DMSans-Medium";
  src: url("assets/fonts/static/DMSans-Medium.ttf");
}
body{
font-family:"DMSans-Medium";
}
.sidebar a.active-link {
  background: #ffffff22;
}
.current {
  transform: translateX(0);
  z-index: 3;
}
.right {
  transform: translateX(100%);
  z-index: 2;
}
.left {
  transform: translateX(-100%);
  z-index: 1;
}